.chatInner {
  display: flex;
  height: 60%;
  width: 35%;
  background: #FFFFFF;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
}

button:hover {
  cursor: pointer;
}