.messageBox {
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  max-width: 80%;
  background: #F3F3F3;
}

.messageText {
  word-wrap: break-word;
  width: 100%;
  letter-spacing: 0;
  font-size: 1.1em;
  float: left;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  padding: 0 5%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #2b2828;
}

.backgroundBlue {
  background: #36485c;
}

.backgroundLight {
  background: #F3F3F3;
}